@charset "utf-8";

/*
Base style 
*/
body {
  font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #333;
}
label, select, input, textarea, button {
  cursor: pointer;
}
button {
  border: 0;
}

/*
grid
*/
.grid {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-item {
  list-style: none;
}
.grid-col-2 > .grid-item {
  width: 50%;
}
.grid-col-3 > .grid-item {
  width: 33.3%;
}
.grid-col-4 > .grid-item {
  width: 25%;
}

@media screen and (max-width: 768px) {
  .grid {
    display: block;
  }
  .grid-col-2 > .grid-item,
  .grid-col-3 > .grid-item,
  .grid-col-4 > .grid-item {
    width: 100%;
    margin: 20px 0;
  }
}
/*
section
*/
.section {
  padding: 30px 15px;
}
.section.section-secondary {
  background: #efefef;
}
.section-headline {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 40px;
}
.section-button {
  margin-top: 40px;
  text-align: center;
}

/*
header
*/
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}
.header-logo {
  margin: 0;
}
.header-logo > a {
  display: block;
  color: transparent;
}
/* .header-nav {} */
.header-navlist {
  margin: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
/* .header-navitem {} */
.header-navitem > a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: border-color .25s;
}
.header-navitem > a:hover {
  border-bottom: 2px solid #333;
}

/*
hero
*/
.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.hero > strong {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 120px;
  color: #fff;
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: center;
}
.hero > video {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.hero-particles {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .hero > strong {
    font-size: 50px;
  }
}

/*
about
*/
.about {
  margin: 0;
  display: flex;
}
/* .about-image {} */
.about-caption {
  padding-left: 15px;
}
.about-headline {
  margin: 0 0 20px;
  font-size: 30px;
}
/* .about-description {} */
@media screen and (max-width: 768px) {
  .about {
    display: block;
  }
  .about-image {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .about-headline {
    font-size: 20px;
    text-align: center;
  }
}

/*
feature
*/
.feature {
  text-align: center;
  padding: 0 15px;
}
.feature-headline {
  font-weight: bold;
  margin-bottom: 20px;
}
.feature-image {
  margin-bottom: 20px;
}
.feature-discription {
  margin: 0;
  text-align: left;
}

/*
card
*/
.card {
  padding: 0 10px;
}
.card-link {
  display: block;
  color: #333;
  text-decoration: none;
  position: relative;
  transition: background-color .75s;
}
.card-link:hover {
  background-color: #eee;
}
.card-label {
  position: absolute;
  background-color: #999;
  color: #fff;
  display: block;
  padding: 5px 10px;
  font-size: 12px;
}
.card-image {
  width: 100%;
  height: auto;
}
.card-info {
  padding: 5px 10px;
}
/* .card-time {} */
.card-headline {
  margin: 0;
}
.card-description {
  margin: 0;
}

/*
avotor
*/
.avator {
 display: flex;
 flex-direction: row-reverse;
 justify-content: start;
 padding: 10px; 
}
.avator-name {
  font-weight: bold;
  padding-left: 15px;
}
.avator-image {
  margin: 0;
  border-radius: 50%;
  overflow: hidden;
}

/*
button
*/
.button {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  background-color: #333;
  text-align: center;
  padding: 15px 60px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 5px 5px 0 #bbb;
  transition: box-shadow .50s;
}
.button:hover {
  box-shadow: 0 0 0
}
.button.button-submission {
  background-color: #92d3ca;
}

/*
.select, .input, .radio, .textarea,
*/
.select {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 500px;
}
.input {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 500px;
}
.radio {
  margin: 0 10px;
}
.textarea {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 500px;
  min-height: 100px;
}

/*
form
*/
/* .form {} */
.form-table {
  margin: 0 auto;
}
/* .form-table tr {} */
.form-table th {
  padding: 10px;
  text-align: left;
}
.form-table td {
  padding: 10px;
}
.form-button {
  margin: 20px;
  text-align: center;
}

/*
works
*/
.works {
  margin: 40px 0;
  padding: 20px;
  text-align: center;
}

.works > img {
  margin: 0 15px;
}

/*
footer
*/
.footer {
  background-color: #333;
  color: #fff;
}
.footer-map {
  margin: 0;
  padding: 40px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-map > iframe {
  width: 60%;
}
.footer-mapinfo {
  width: 40%;
  padding: 15px;
}
.footer-maplogo {
  font-size: 25px;
  font-weight: bold;
}
.footer-maplogo > svg {
  margin-right: 10px;
  fill: transparent;
}
.footer-mapadress {
  font-style: normal;
}
.footer-mapadress > a {
  color: #fff;
}
.footer-line {
  border-color: #444;
}
.footer-copy {
  display: block;
  text-align: center;
  padding: 10px;
}
